
Zomboat/Saved/AutoScreenshot.png
Zomboat/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Zomboat/Saved/Logs/Zomboat.log
Zomboat/Intermediate/CachedAssetRegistry_0.bin
Zomboat/Saved/Config/CrashReportClient/UECC-Windows-D159235C42A2F0D7BC3FD99184678DE3/CrashReportClient.ini
Zomboat/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Zomboat/Saved/Logs/Zomboat-backup-2024.02.14-21.06.51.log
Zomboat/Saved/Logs/Zomboat.log
